@use '../../theme/variables' as *;

.ks-button button.button {
  width: 11.875rem;
  border-radius: 2rem;
  color: $white;
  font-family: $primary-font;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  background-image: unset!important;
}
