$primary-color: #499ad3;
$secondary-color: #3a365c;
$black: #000000;
$white: #ffffff;

$colors: (
    "primary": $primary-color,
    "secondary": $secondary-color,
);

$primary-font: 'Montserrat', sans-serif;